@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "LoginSuccess";
}

<h2>Login Success</h2>
<p>You have Successfully logged in :D</p>

<a asp-action="Index" asp-controller="Hotel">Browse Hotles Now</a>
