
@{
    ViewData["Title"] = "LoginSuccess";
}

<h2>Login Success</h2>
<p>You have Successfully Logged in :D</p>

<a asp-action="Index" asp-controller="Hotel">Now You can browse hotels and Book your Rooms </a>
