
@{
    ViewData["Title"] = "RegisterSuccess";
}

<h2>Register Success</h2>
<p>You have Successfully Registered :D</p>

<a asp-action="Login" asp-controller="Account">Now You can Login and browse Hotels</a>
